<div class="tab-content">
  <div class="tab-pane active" id="recipe">

    <div class="container">
      <div class="content-container clearfix">
        <h1 class="content-title">RECIPES</h1>
        <div class="col-md-9">

          <ul class="recipe-list">
            <li>
              <a href="">
                <span class="recipe-title">You Tube</span>
                <span class="recipe-holder">New subscribers!</span>
                <span class="recipe-preview">You have ten more subscriptions click her...</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="recipe-title">You Tube</span>
                <span class="recipe-holder">New subscribers!</span>
                <span class="recipe-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="recipe-title">You Tube</span>
                <span class="recipe-holder">New subscribers!</span>
                <span class="recipe-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="recipe-title">You Tube</span>
                <span class="recipe-holder">New subscribers!</span>
                <span class="recipe-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="recipe-title">You Tube</span>
                <span class="recipe-holder">New subscribers!</span>
                <span class="recipe-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="top-news-list">
            <li>
              <a href="">
                <span class="news-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="news-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="news-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="news-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>